log/*
screenlog.*
*.log
tmp/**/*
tmp/*
.dotest/
.dotest/*.
tmp/.*
tmp/*
tmp/profile*
.DS_Store
doc/plugins
doc/api
doc/app
doc/*.doc
doc/*.zip
uuid.state
nbproject*
index/*
identifier
secret
last_run
.project
.conductor/*
.conductor/**/*
.*.sw?
.#*
\#*
*~
.sass-cache
rsa_key*
sqldumps/*
capybara*.html
.bundle/*
.rspec
*.swp
coverage.vim
coverage/
.idea/
db_backups/
*.esproj
.sass-cache
.ruby-version
.ruby-gemset
errors.err
.rspec-local
.ctrlp-root
apache-passenger.conf
.idea/
*.orig